*{
  margin: 0;
  padding: 0;
}
body{
  background-color:  rgba(217, 217, 217, 0.22);
}
.profile_content{
  position: relative;
  display: flex;
  height: 100%;
  
  

}
.profile_side_bar{
  position: fixed;
  left: 10px;
  bottom: 10px;
  
  top: 10px;
  width: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(1deg, #43A5DC -3.37%, #FF7BAC 99.6%);
  border-radius: 12px;
  
  
}
.first_div, .second_div{
  width: 100%;
  display: flex;
  flex-direction: column;
 
  align-items: center;
  
}
/*.second_div{
  margin-top: 259px;
}*/
.chat_pic{
  height: 110px;
  width: 68px;
  padding-top: 10px;
}
.e_border{
  width: 85%;
  height: 75px; 
  border-radius: 5px;
  background: rgba(217, 217, 217, 0.63);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}
.e_circular_border{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #366BC9;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal; 
  margin-bottom: 3px;
}
.profile{
  color: #FFF;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}
.logout_logo{
  height: 50px;
  width: 58px;
  margin-bottom: 30px;
  margin-top: 50px;
}
.logout_content{
  color: #FFF;
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  margin-top: -25px;
  margin-bottom: 25px;
}
.logout_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.profile_details{
  position: fixed;
  left: 88px;
  top: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
 
  width: 320px;
  margin-left: 20px;
  margin-right: 13px;
  border: 1px solid white;
  border-radius: 13px;
  background: white;  
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.profile_return{
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 5px;
  gap: 8px;
  cursor: pointer;
}
.return_arrow{
  height: 25px;
  width: 25px;

}
.return_arrow_profile{
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal; 
}
.profile_content_pic{
  height: 80px;
  width: 85px;
  margin-top: 70px;
  margin-bottom: 50px;
}
form{
  width: 80%;
 
}
.display_name_container, .profession_label_container, .phone_label_container, .email_label_container{
  display: flex;
  flex-direction: column;
  position: relative;
}
.display_name_label, .profession_label, .phone_label, .email_label{
  color: #000;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  margin-left: 12px;
  position: absolute;
  top: -14px;
  background: white;
  padding: 5px;
}
.display_name_input, .profession_input, .phone_input, .email_input{

  height: 33px;
  border-radius: 13px;
  border: 1px solid rgba(0, 0, 0, 0.32);
  padding-left: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.display_name_input::placeholder, .profession_input::placeholder, .phone_input::placeholder, .email_input::placeholder{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.32); 
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}
.email_icon{
  position: absolute;
  height: 23px;
  width: 25px;
  right: 10px;
  top: 5px;
  cursor: pointer;
  
}
.Save_button_container{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
 
 
}
.Save_button{
  border-radius: 8px;
  background: #000; 
  padding-top: 11px;
  padding-bottom: 11px;
  color: white;
  border: none;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  cursor: pointer;
  display: flex;
 
  
  
}
.pie_center_container{

  position: fixed;
  top: 10px;
  bottom: 10px;
  right: 15px;
  left: 462px;
  border: 1px solid white;
  border-radius: 13px;
  background: white;  
  display: flex;
  flex-direction: column;
  align-items: center;
  

  
 
}
.pie_center_height_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  margin-bottom: 150px !important
 

}
.icon_message{
  height: 130px;
  width: 130px;
  margin-top: 86px;
  margin-bottom: 30px;
}
.chat_heading{
  color: #000;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal; 
  margin-bottom: 20px;
}
.icon_pie{
  height: 45px;
  width: 170px;
  border-radius: 5px;
  margin-bottom: 20px;
  
 }
 .lorem_2{
  color:  rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}
.rectangle_8{
  width: 60px;
  height: 10px;
  
}

/* Css for the chat landing page */

.chat_landing_profile_return{
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 15px;
  margin-bottom: 10px;

}
.chat_content_profile{
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal; 
  
}
.chat_landing_email_icon{
  height: 23px;
  width: 25px;
  
}
.search_div{
  position: relative;
  width: 87%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.search_input{
  width: 100%;
  border-radius: 8px;
  background: #F7F7F7; 
  height: 30px;
  border: 1px solid #F7F7F7;
  padding-left: 35px;
}
.search_input::placeholder{
  color: rgba(0, 0, 0, 0.32);
  font-family: Lato;
  font-size: 12.3px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}
.search_icon{
  position: absolute;
  left: 6px;
  height: 20px;
  width: auto;
  cursor: pointer;

}
.pie_div{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 89%;
  gap: 7px;
}
.pie_image{
  height: 60px;
  width: auto;
  cursor: pointer;
}
.pie_div div h2{
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  line-height: normal; 
}
.pie_div div p{
  color: rgba(0, 0, 0, 0.32);
  font-family: Lato;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

/* Css property for chatting page and its detailing */
.pie_chat_center_container{
  position: fixed;
  top: 10px;
  bottom: 10px;
  right: 15px;
  left: 462px;
  border: 1px solid white;
  border-radius: 13px;
  background: white;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.chatting_header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
 

}
.left_header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
  
}
.chatting_pie_icon{
  height: 60px;
  width: auto;
  cursor: pointer;
  margin-right: 10px;
  
}
.left_header h2{
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal; 
}
.menu_icon{
  height: 30px;
  width: auto;

  
  
}
.right_header{
  position: relative;
  margin-right: 20px;
  margin-top: 20px;
  
}
.chatting_footer{
  position: relative;
  display: flex;
  align-items: center;
  width: 95%;
  margin-left:21px;
  margin-bottom: 20px;

}
@media (max-width: 1000px){
  .chatting_footer{
    margin-left: 13px;
  }
}
.message_input{
  width: 100%;
  border-radius: 10px;
  background: #F7F7F7; 
  height: 36px;
  border: 5px solid #F7F7F7;
  padding-left: 35px;

 
}
.message_input::placeholder{
  color: rgba(0, 0, 0, 0.32);
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}
.pin_icon{
  position: absolute;
  height: 25px;
  width: auto;
  left: 8px;
  cursor: pointer;

  
}
.camera_icon{
  position: absolute;
  height: 25px;
  width: auto;
  right: 10px;
  cursor: pointer;
}
.horizontal_rule{
  position: relative;
  top: -37%;
 
  text-align: center;
  
}
hr{
  border-color:  rgba(0, 0, 0, 0.13);
  width: 95%;
  margin: auto;
}